<h2>Template: <small> Dinamico</small></h2>
<hr>
<form (ngSubmit)="guardar()"
    autocomplete="off"
    #miFormulario="ngForm">
    <div class="mb-3 row">
        <label class = "col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   [ngModel]="persona.nombre"
                   name="nombre"
                   placeholder="Nombre de la persona"
                   required>               
        
            <span class="form-text text-danger"
                   *ngIf="nombreValido()">
              Este campo es obligatorio
           </span>             
        </div>
    </div>


     <!-- Agregar  Favorito-->
     <div class="mb-3 row">
        <label class = "col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input  class="form-control"                   
                        placeholder="Agregar Favorito"
                        [(ngModel)]="nuevojuego"
                        name="nuevoJuego">     

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarJuego()">
                    Agregar    
                </button>
            </div>
                     
        
                   
        </div>
    </div>

    <!--Lista de juegos-->
    <div class="mb-3 row">
        <label class = "col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1"
                 *ngFor="let juego of persona.favoritos; let i = index">
                <input  [(ngModel)]="juego.nombre"
                        name='juego{{i}}'
                        class="form-control "
                        required>  
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="eliminar(i)">
                    Eliminar  
                </button>
            </div>
                        
        </div>
    </div>



    <div class=" row">        
        <div class="col-sm-12">
            <button class="btn btn-primary float-end"
                    type="button"
                    [disabled]="miFormulario.invalid"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>


<div class="row">
    <div class="col">
       <span> Persona</span>
       <pre>{{persona |json}}</pre>
    </div>
 </div>