<h2>Validaciones reactivas</h2>
<hr>


<div class="row">
    <div class="col">
        <form   autocomplete="off" 
                [formGroup]="miFormulario"
                (ngSubmit)="submitFormulario()">
            <!-- Nombre -->
            <div class="row mb-3" > 
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del usuario">
                    <span class="form-text text-danger"
                           *ngIf="campoNoValido('nombre')" >
                        Debe de ser en formato de nombre y apellidos
                    </span>    
                </div>    
                    
            </div>
            <!-- Email -->
            <div class="row mb-3" > 
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email del usuario">
                        
                </div>   
                <span class="form-text text-danger"
                *ngIf="campoNoValido('email')" >
                    El correo es obligatorio
                </span>     
                    
            </div>
             <!-- Username -->
             <div class="row mb-3" > 
                <label class="col-sm-3 col-form-label">UserName</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="userName"
                        placeholder="Nombre código del usuario">
                        
                </div>    
                <span class="form-text text-danger"
                *ngIf="campoNoValido('userName')" >
                    Nombre de usuario incorrecto
                </span>     
                    
            </div>
            <!-- Passwd -->
            <div class="row mb-3" > 
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="Contraseña de su cuenta">
                        
                </div> 
                <span class="form-text text-danger"
                *ngIf="campoNoValido('password')" >
                    Nombre de usuario incorrecto
                </span>      
                    
            </div>
             <!-- Passwd2 -->
             <div class="row mb-3" > 
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                        formControlName="confirmarpasswd"
                        class="form-control"
                        placeholder="Confirmar la contraseña">
                        
                </div>   
                <span class="form-text text-danger"
                *ngIf="campoNoValido('confirmarpasswd')" >
                    Las contraseñas no coinciden
                </span>    
                    
            </div>
            <!-- Button -->
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Registrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<h2>Form Valid: {{miFormulario.valid}}</h2>
<hr>
<h2>Form Error: {{miFormulario.errors | json}}</h2>

<h5>Nombre</h5>
<pre>{{miFormulario.controls.nombre.errors |json}}</pre>
<h5>Email</h5>
<pre>{{miFormulario.controls.email.errors |json}}</pre>
<h5>UserName</h5>
<pre>{{miFormulario.controls.userName.errors |json}}</pre>
<h5>Password</h5>
<pre>{{miFormulario.controls.password.errors |json}}</pre>
<h5>Confirmar password</h5>
<pre>{{miFormulario.controls.confirmarpasswd.errors |json}}</pre>